tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.06);
}

tr:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.2);
}

td,
th {
  padding: 5px;
}

.but_shop {
  padding: 4px;
  background-color: lightslategrey;
  text-decoration: none;
  border: 1px solid black;
  color: white;
  font-size: 20px;
}

a {
  margin-top: 30px;
  display: flex;
  width: 125px;
  text-align: center;
}

.order_shop {
  padding: 4px;
  background-color: lightslategrey;
  text-decoration: none;
  border: 1px solid black;
  color: white;
  font-size: 20px;
}
